header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnVoltar {
    text-decoration: none;

    color: var(--Grey-0);
    background-color: var(--Grey-3);

    padding: 10px;

    border-radius: 4px;

    transition: all 0.3s;

}

.btnVoltar:hover {
    background-color: var(--Grey-2);

}